*{padding: 0;margin: 0;}
a{text-decoration: none;}
ul,li,dl,dt,dd{list-style: none;}
img{border: none;}
.clearfix:after{content:".";clear:both;display:block;height:0;
overflow:hidden;visibility:hidden;font-size:0;}
body{
	width: 100%;
	background: #f8f8f8; 
}
.auto{
	width: 1263px;
	margin:0 auto;
}
.center{
	width: 1200px;
	height: 100%;
	margin: 0 auto;	
}
#top{
	width: 100%;
	height: 70px;
	z-index: 10;
	background:#fff; 
}
.a1{
	float: left;
}
.img1{
	margin:14px 7px 0 16px;
}
.ul1{
	float: left;
	height: 100%;
}
.ul1 li{
	float: left;
	position: relative;
}
.ul1 li a{
	color: #333;
	font-size: 16px;
	padding: 26px 20px;
	display: block;
	height: 18px;
	line-height: 18px;
}
.ul1 .N{
	background: url(images/hot.gif) no-repeat 96px 12px;
}
.ul1 a:hover span{
	color: #f4604b;
}
.ul1 a:hover i{
	color: #f4604b;
}
#top form{
	background: #fff;
	margin-top: 18px;
	float: left;
	border:1px solid #e1e1e1;
	border-radius:17px;
}
#top input{
	float: left;
	height: 32px;
	border:none; 
	box-sizing: border-box;
	outline: none;
}
.put1{
	width: 190px;
	margin-left: 12px;
}
.put2{
	width: 26px;
	margin-right: 12px;
	background: url(images/img_06.jpg) no-repeat 4px 6px ;
	cursor: pointer;
}
#list{
	position: absolute;
	left: -68px;
	top:70px;
	cursor: pointer;
	display: none;
}
.lis{
	z-index: 2;
}
.lis  li{
	box-sizing:border-box;	
	height: 65px;
	background: #34343e;
	font-size: 16px;
	color: #fff;
	line-height: 65px;
	position: relative;
	border-bottom: 1px solid #3d3d48;
	border-left: 5px solid #34343e;
}
.lii>a>i{
	font-size: 14px;
	color: #c2c2c2;
}
#list i{
	font-style: normal;
	position: absolute;
	font-size: 18px;
	color: #969698;
	top:2px;
	left:48px;
}
#list span{
	position: absolute;
	right: 27px;
	top: 0px;
	color: #adadae;
}
.lis li{
	width:250px;
	padding-left: 80px;
}
#list2{
	position: absolute;
	right:-38px;
	top:70px;
	cursor: pointer;
	display: none;	
}
#list2 li{
	width: 175px;
	text-align: center;
	padding-left: 0;
}
.List{
	position: absolute;
	top: 0px;
	left: 245px;
	width: 540px;
	display: none;
}
.ul1 .List a{
	padding: 0;
	width: 89px;
	height: 64px;
	font-size: 16px;
	color: #fff;
	background: #3f3f48;
	float: left;
	border-bottom: 1px solid #4b4b52;
	border-left: 1px solid #4b4b52;
	line-height: 64px;
	text-align: center;
}
.lis li.active{
    border-left: 5px solid #f4604b;
    background-color: #3f3f48;
}
.List a.hover{
	background:#f4604b ;
}
div.fix{
	position:fixed;
	top:0;
	background:#fff;
}
#love{
	position: fixed;
	bottom: 18px;
	right: 16px;
}
#love_a3{
	position: absolute;
	bottom: 0px;
	right: 0px;
	display: none;
	background: url(images/icon_all_10.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#love_a3 div{
	width: 50px;
	height: 50px;	
}
#daohang{
	width: 100%;
	height: 58px;
}
#daohang .center{
	height: 58px;
	line-height: 58px;
	font-size: 12px;
	color: #666;
}
#daohang span.line{
	font-family: "宋体";
    color: #999;
    padding: 0 5px;
}
#daohang .a1{
	color: #666;
}
#daohang .a2{
	color: #999;
}
#daohang a:hover{
	color: #fd3636;
}
.nav{
	width: 100%;
	height: 74px;
}
.nav .center{
	height: 100%;
	background: #fff;
	line-height: 74px;
	position: relative;
}
.nav .span_1{
	float: left;
	font-size: 24px;
	padding-left:26px; 
}
.nav .span_2{
	float: right;
	padding-right:130px;
	font-size: 16px;
	color: #999; 
}
.nav .span_2 #num{
	color: #fd3636;
}
#details{
	width: 100%;
}
#details li{
	position: relative;
	height: 360px;
	background: #fff;
	box-sizing: border-box;
	float: left;
	margin: 4px 4px 0 0;
}
#details li:nth-child(4n){
	margin-right: 0;
}
#details li .pic_a1{
	display: block;
	margin:30px 30px 0 30px; 
}
#details li a .iimg{
	width: 237px;
	height: 237px;
}
#details li .oimg{
	display: block;
	margin:14px 22px 0 22px; 
}
#details li .word_a1{
	display: block;
	font-size: 16px;
	color: black;
	line-height: 22px;
	margin:10px 0  10px 30px;
}
#details li .word_a1:hover{
	color: #fd3636;
}
#details li .span_1{
	padding-left: 30px;
	font-size: 14px;
	color: #fd3636;
}
#details li .span_2{
	font-size: 20px;
	color: #fd3636;
	font-family: Georgia, "Times New Roman", Times, serif;
}
#details li .span_3{
	font-size: 14px;
	color: #999;
	float: right;
	padding-right: 30px;
}
#details li:hover{
	box-shadow: 0 0 4px 1px #ccc;
    transition-duration: 0.5s;
    transition-property: box-shadow;
}
#mylove div{
	width: 42px;
	height: 42px;	
}
#mylove{
	position: absolute;
	top:40px;
	right: 42px;
	background: url(images/icon_all_04.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	display: none;
}

.footer{
	width: 100%;
	height: 95px;
	background: #fff;
	margin-top: 20px;
}
.footer .center{
	height: 95px;
	text-align: center;	
	padding-top: 20px;

}
.footer .link{
	font-size: 16px;
	margin-bottom: 10px;
}
.footer .link a{
	margin: 0 15px;
    color: #999;
}
.footer a:hover{
	color: #fd3636;
}
.footer span{
	color: #acacac;
	font-size: 14px;
}
 #delete{
	position: absolute;
	top:0px;
	right: 26px;
}
#delete a{
	color: #333;
}
#delete a:hover{
	color:#fd3636 ;
}
